body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f2f4f7;
}

header {
  background-color: #0a1f44;
  color: white;
  text-align: center;
  padding: 25px;
}

nav {
  background-color: #102b63;
  text-align: center;
  padding: 12px;
}

nav a {
  color: white;
  margin: 15px;
  text-decoration: none;
  font-weight: bold;
}

nav a:hover {
  color: #00e5ff;
}

section {
  padding: 40px;
  background-color: white;
  margin: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

h2 {
  color: #0a1f44;
}

footer {
  background-color: #0a1f44;
  color: white;
  text-align: center;
  padding: 15px;
}
